In [61]:
import pandas as pd
import sklearn.model_selection as skms
from sklearn.metrics import classification_report
from sklearn.svm import SVC

train = pd.read_csv('Data/train.csv',sep=',')
test = pd.read_csv('Data/test.csv', sep=',')

In [62]:
#df.isnull().sum()

In [63]:
train.tail()

,id,idsito,idmodel,idbrand,lat,lon,ageinmonths,anno,day,ora,...,pcnm9,pcnm10,pcnm11,pcnm12,pcnm13,pcnm14,pcnm15,irr_pvgis_mod,irri_pvgis_mod,kwh
181598,75702,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511
181599,75719,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511
181600,75736,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511
181601,75753,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511
181602,75788,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511

In [64]:
train = train.drop("id",1)
train = train.drop("data",1)
test = test.drop("id",1)
test = test.drop("data",1)

In [65]:
X_train = train.drop("kwh",1)
X_train.head()

,idsito,idmodel,idbrand,lat,lon,ageinmonths,anno,day,ora,temperatura_ambiente,...,pcnm8,pcnm9,pcnm10,pcnm11,pcnm12,pcnm13,pcnm14,pcnm15,irr_pvgis_mod,irri_pvgis_mod
0,0.425,0.083,0.083,0.437,0.631,1.000,2012,0.003,0.0,0.212,...,0.127,0.599,0.553,0.390,0.828,0.562,0.485,0.612,0.0,0.189
1,0.250,0.208,0.083,0.437,0.620,0.063,2012,0.003,0.0,0.212,...,0.516,0.867,0.000,0.086,0.990,0.841,0.606,0.616,0.0,0.200
2,0.350,0.375,0.000,0.439,0.626,0.000,2012,0.003,0.0,0.212,...,0.000,0.072,0.432,0.257,0.884,0.597,0.539,0.614,0.0,0.158
3,0.325,0.292,0.167,0.440,0.612,0.250,2012,0.003,0.0,0.212,...,0.154,1.000,1.000,0.252,0.787,1.000,0.432,0.620,0.0,0.204
4,0.000,0.000,0.333,0.436,0.626,0.719,2012,0.003,0.0,0.212,...,0.412,0.532,0.619,0.327,0.748,0.614,0.473,0.614,0.0,0.199

In [66]:
y_train = train.loc[:,'kwh']

In [67]:
X_test = train.drop("kwh",1)

In [68]:
y_test = train.loc[:,'kwh']

In [69]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)
reg.score(X_train, y_train)

0.813414253084066