In [14]:
import pandas as pd
from sklearn import datasets
import sklearn.model_selection as skms
from sklearn.metrics import classification_report
from sklearn.svm import SVC

df = pd.read_csv('Data/train.csv',sep=',')

In [15]:
df.isnull().sum()

id                      0
idsito                  0
idmodel                 0
idbrand                 0
lat                     0
lon                     0
ageinmonths             0
anno                    0
day                     0
ora                     0
data                    0
temperatura_ambiente    0
irradiamento            0
pressure                0
windspeed               0
humidity                0
icon                    0
dewpoint                0
windbearing             0
cloudcover              0
tempi                   0
irri                    0
pressurei               0
windspeedi              0
humidityi               0
dewpointi               0
windbearingi            0
cloudcoveri             0
dist                    0
altitude                0
azimuth                 0
altitudei               0
azimuthi                0
pcnm1                   0
pcnm2                   0
pcnm3                   0
pcnm4                   0
pcnm5                   0
pcnm6                   0
pcnm7                   0
pcnm8                   0
pcnm9                   0
pcnm10                  0
pcnm11                  0
pcnm12                  0
pcnm13                  0
pcnm14                  0
pcnm15                  0
irr_pvgis_mod           0
irri_pvgis_mod          0
kwh                     0
dtype: int64

In [16]:
df.tail()

,id,idsito,idmodel,idbrand,lat,lon,ageinmonths,anno,day,ora,...,pcnm9,pcnm10,pcnm11,pcnm12,pcnm13,pcnm14,pcnm15,irr_pvgis_mod,irri_pvgis_mod,kwh
181598,75702,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511
181599,75719,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511
181600,75736,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511
181601,75753,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511
181602,75788,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511