In [4]:
import pandas as pd
import sklearn.model_selection as skms
from sklearn.metrics import classification_report
from sklearn.svm import SVC

train = pd.read_csv('Data/train.csv',sep=',')
test = pd.read_csv('Data/test.csv', sep=',')

In [2]:
#df.isnull().sum()

In [5]:
train.tail()

,id,idsito,idmodel,idbrand,lat,lon,ageinmonths,anno,day,ora,...,pcnm9,pcnm10,pcnm11,pcnm12,pcnm13,pcnm14,pcnm15,irr_pvgis_mod,irri_pvgis_mod,kwh
181598,75702,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511
181599,75719,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511
181600,75736,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511
181601,75753,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511
181602,75788,0.15,0.167,0.167,0.438,0.63,0.0,2013,0.477,0.556,...,0.755,0.812,0.424,1.0,0.137,0.405,0.613,0.648,0.158,0.511

In [18]:
#train = train.drop("id",1)
#train = train.drop("data",1)
#test = test.drop("id",1)
#test = test.drop("data",1)
from datetime import datetime
#date_object = datetime.strptime(czas, '%m/%d/%Y %H:%M')

181598    8/16/2013 12:00
181599    8/18/2013 12:00
181600    8/20/2013 12:00
181601    8/22/2013 12:00
181602    8/27/2013 12:00
Name: data, dtype: object

In [21]:
from datetime import datetime

def splitDate(x):
    return datetime.strptime(x, '%m/%d/%Y %H:%M').year

train['year']= train['data']

train['data'].apply(splitDate)
train.dtypes

id                        int64
idsito                  float64
idmodel                 float64
idbrand                 float64
lat                     float64
lon                     float64
ageinmonths             float64
anno                      int64
day                     float64
ora                     float64
data                     object
temperatura_ambiente    float64
irradiamento            float64
pressure                float64
windspeed               float64
humidity                float64
icon                    float64
dewpoint                float64
windbearing             float64
cloudcover              float64
tempi                   float64
irri                    float64
pressurei               float64
windspeedi              float64
humidityi               float64
dewpointi               float64
windbearingi            float64
cloudcoveri             float64
dist                    float64
altitude                float64
azimuth                 float64
altitudei               float64
azimuthi                float64
pcnm1                   float64
pcnm2                   float64
pcnm3                   float64
pcnm4                   float64
pcnm5                   float64
pcnm6                   float64
pcnm7                   float64
pcnm8                   float64
pcnm9                   float64
pcnm10                  float64
pcnm11                  float64
pcnm12                  float64
pcnm13                  float64
pcnm14                  float64
pcnm15                  float64
irr_pvgis_mod           float64
irri_pvgis_mod          float64
kwh                     float64
year                     object
dtype: object

In [ ]:
X_train = train.drop("kwh",1)
X_train.head()

In [ ]:
y_train = train.loc[:,'kwh']

In [ ]:
X_test = train.drop("kwh",1)

In [ ]:
y_test = train.loc[:,'kwh']

In [ ]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)
reg.score(X_train, y_train)

In [ ]:
from sklearn.metrics import mean_squared_error
y_pred = np.array(reg.predict(X_test))

In [ ]:
mean_squared_error(y_test, y_pred)

In [ ]:
y_pred[-1]

In [ ]:
y_test.tail(1)